
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Gaya untuk seluruh body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333; 
    line-height: 1.6; 
    padding: 20px; 
}


.container {
    max-width: 800px;
    margin: auto;

}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px ; 
    color: #2c3e50;
    text-align: center; 
}


.mahasiswa-card {
    background-color: #fff; 
    border-radius: 12px; 
    padding: 20px; 
    margin-bottom: 20px ; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.mahasiswa-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.info-item {
    margin-bottom: 10px;
}

.info-item label {
    font-weight: bold; 
    color: #2980b9;
}

footer {
    text-align: center; 
    margin-top: 20px;
    color: #777; 
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .mahasiswa-card {
        padding: 15px; 
    }

    h1 {
        font-size: 2em;
    }
}
